<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:contetxt="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd 
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id ="student1" class="springcore.Student" name="student1" p:studentID="1201" p:studentName="Akshada Shinde" p:studentAddress="Pune"  />
	
	<bean id ="student2" class="springcore.Student" name="student2" p:studentID="1202" p:studentName="Vaishnavi Bhoyar" p:studentAddress="Nagpur"  />
		
	<bean id ="student3" class="springcore.Student" name="student3" p:studentID="1203" p:studentName="Pranali Badgujar" p:studentAddress="Dhule"  />


</beans>